.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.header{
    position: relative;
}

.hamburger {
    margin-left: 40%;
    position: absolute;
    cursor: pointer;
}

.logoutButton {
    margin-left: 40%;
    position: absolute;
    cursor: pointer;
    width: 4vw;
    height: 4vh;
    background-color: #4caf50;
    font-weight: 1000;
    color: var(--off-black);
}

@media(max-width:767px){
.hamburger{
    margin-left: 80%;
}
.logoutButton{
    margin-left: 80%;
}
}