.container {
    position: fixed; 
    background-color: var(--richblack);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 20%; 
    height: 95%; 
    right: 0; 
    z-index: 9;
}



.logoutButton {
    margin-left: 40%;
    position: absolute;
    cursor: pointer;
    width: 4vw;
    height: 4vh;
    background-color: #4caf50;
    font-weight: 1000;
    color: var(--off-black);
}

.linkcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-grow: 1;
    font-size: large;

}

.termscontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1px;
    margin-bottom: 10px;
}

@media(max-width:767px){
    .container {
        right: 0;
        width: 55%;
    }
}