.container {
    position: relative;
  }
  
  .suggestionsContainer {
    position: absolute;
    z-index: 5;
    background-color: var(--smokewhite);
    border: 1px solid  var(--richblack);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .suggestionHighlighted {
    background-color: var(--darkblue);
  }

  /* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.suggestionsContainer::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

.suggestionsContainer::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.suggestionsContainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Adds space around the scrollbar thumb */
}

.suggestionsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color when hovering over the scrollbar thumb */
}