@import '../../vars.css';

.container{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.audiocontainer{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    margin-top: 4vh;
}

.playcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 4vh;
    gap: 1vw;
}

.guesscontainer{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: .2em;
}

.guess{
    padding-inline: 1em;
    padding-block:  1.05em;
    background-color: var(--smokewhite);
    width: 15rem;
    border-radius: 10px 0 0 10px;
}

.subguess{
    padding-inline: 1em;
    padding-block:  1em;
    background-color: var(--darkblue);
    font-weight: 1000;
    color: var(--lightwhite);
    font-weight: 800;
    text-shadow: 2px 3px 3px var(--richblack);
    border-radius: 0 10px 10px 0px; 
}

.skipbtn{
    padding-inline: 2vw;
    padding-block: 1.2vh;
    align-self: center;
    margin-top: 5px;
    background-color: var(--darkblue);
    font-weight: 100;
    color: var(--lightwhite);
    text-shadow: -2px 3px 2px var(--richblack); 
    width: 8em;
    height: 2.5em;
    border-radius: 0 100px 100px 0;
    font-family: 'Danfo', sans-serif; 
    font-size: x-large;
    box-shadow: 5px 1px 20px var(--richblack);
}


.playbtn{
    padding-inline: 2vw;
    padding-block: 1.2vh;
    align-self: center;
    margin-top: 5px;
    background-color: var(--darkblue);
    font-weight: 100;
    color: var(--lightwhite);
    text-shadow: -2px 3px 2px var(--richblack); 
    width: 8em;
    height: 2.5em;
    border-radius: 100px 0 0px 100px;
    font-family: 'Danfo', sans-serif; 
    font-size: x-large;
    box-shadow: -5px 1px 20px var(--richblack);
}

.score{
    align-self: center;
    font-size: .8rem;
    color: var(--lightblue);
    font-weight: 600;
    text-shadow: 0px 2px 1px var(--richblack);
}

.guesses{
    margin-left: 12vw;
    margin-top: 5px;
    font-size: 1rem;
    color: var(--lightblue);
    font-weight: 800;
    text-shadow: 0px 3px 2px var(--richblack);

}

.tagline{
    align-self: center;
    color: var(--lightblue);
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    text-shadow: 5px 8px 6px var(--richblack);
    
}

@media(max-width:767px){
    .guesses{
        font-size: .5rem;
    }

    .score{
        font-size: .5rem;
    }
}
