@import '../../vars.css';

.App{
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at bottom left, var(--richblack), #15151d, var(--richblack));
    width:  100vw;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;

}

.content{
    flex-grow: 1;
}
