@import '../../vars.css';

.container{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.audiocontainer{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    margin-top: 4vh;
}

.playcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 4vh;
    gap: 1vw;
}

.guesscontainer{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: .2em;
}

.guess{
    padding-inline: 1em;
    padding-block:  1em;
}

.subguess{
    padding-inline: 1em;
    padding-block:  1em;
    background-color: var(--lightblue);
    font-weight: 1000;
    color: var(--off-black);
}

.skipbtn{
    padding-inline: 2vw;
    padding-block: 1.2vh;
    align-self: center;
    margin-top: 5px;
    background-color: var(--darkblue);
    font-weight: 100;
    color: var(--lightwhite);
    text-shadow: -2px 3px 2px var(--richblack); 
    width: 8em;
    height: 2.5em;
    border-radius: 0 100px 100px 0;
    font-family: 'Danfo', sans-serif; 
    font-size: x-large;
}


.playbtn{
    padding-inline: 2vw;
    padding-block: 1.2vh;
    align-self: center;
    margin-top: 5px;
    background-color: var(--darkblue);
    font-weight: 100;
    color: var(--lightwhite);
    text-shadow: -2px 3px 2px var(--richblack); 
    width: 8em;
    height: 2.5em;
    border-radius: 100px 0 0px 100px;
    font-family: 'Danfo', sans-serif; 
    font-size: x-large;
}

.score{
    position: absolute;
    bottom: 0;
}
