<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive About Us Section</title>
    <link rel="stylesheet" type="text/css" href="aboutus.css">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>About Us</h1>
            <p>.Non quia facilis est, sed quia hard.</p>
        </div>
        <section class="about">
            <div class="about-image">
                <img src="images/cartoonguys.png" alt="Image">
            </div>
            <div class="about-content">
                <!-- Additional content goes here -->
                <h2>Welcome User</h2>
                <p>This is the story of two friends...</p>
                <a href="homepage.html" class="homelink"> Home </a>
            </div>
        </section>
    </div>
</body>
</html>
