@import './vars.css';

.App{
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, var(--richblack), var(--darkblue), var(--richblack));
    width:  100vw;
    height: 100vh;
    overflow-x: hidden;

}

.content{
    flex-grow: 1;
}