@import './vars.css';

.App{
    display: flex;
    flex-direction: column;
    background: radial-gradient(ellipse at top, var(--richblack), #0b0b0e, var(--richblack));
    width:  100vw;
    height: 100vh;
    overflow-x: hidden;

}

.content{
    flex-grow: 1;
}