:root {
  /* 
  Previous colors do not use unless you feel the need to.
  */
  --off-white: #eeebeb;
  --off-black: #070707;
  --soft-grey: #d6e6e2;
  --primary-color: #4caf50;

  /* main colors for the website */

  --darkblue: #19647e;
  --lightblue: #28afb0;
  --smokewhite: #ddcecd;
  --lightwhite: #eee5e5;
  --richblack: #04030f;
  --deepred: rgb(88, 8, 8);

}