.card{
    /* width: 200px;
    height: 230px; */
    width: 11em;
    height: 12em;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.transparent1{
    opacity: 0.8;
}
.transparent2{
    opacity: 0.1;
}
.transparent3{
    opacity: 0.1;
}
.transparent4{
    opacity: 0.1;
}
.transparent5{
    opacity: 0.1;
}
.transparent6{
    opacity: 0.1;
}

.card1{
    background-image: url(images/MMpreview.png);
}
.card2{
    background-image: url(images/comingsoon.png);
}
.card3{
    background-image: url(images/comingsoon.png);
}
.card4{
    background-image: url(images/comingsoon.png);
}
.card5{
    background-image: url(images/comingsoon.png);
}
.card6{
    background-image: url(images/comingsoon.png);
}

.card:hover{
    transform: translateY(-10px);
}
.card h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}

@media (max-width:767px){
    .card{
        width: 10em;
        height: 10em;
        display: inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s;
    }
}