/* Styling for the navigation 
   - Flex-grow: take up remaining space
   - Align text to the right */

nav{
    flex: 1;
    text-align: right;
    align-items: baseline;
}

/* Styling for navigation list items 
   - Remove default list style
   - Display list items inline
   - Space on the left */
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

/* Styling for navigation links 
   - Remove underline
   - White text color
   - Font size */
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.topbutton{
    width: 180px;
    color:var(--off-white);
    font-size: 15px;
    padding: 3px 0;
    
    background:var(--richblack);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 3px;
    cursor: pointer;
    opacity: 0.8;
}