@import '../../vars.css';

.App{
    display: flex;
    flex-direction: column;
    background: linear-gradient( var(--darkblue), var(--primary-color), var(--richblack));
    width:  100vw;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;

}

.content{
    flex-grow: 1;
}
.navbar{
    
    
    align-items: right;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 10px solid black;
    
    padding: 20px;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.col{
    flex-basis: 50%;
}